---
import { Calendar } from 'lucide-astro';
import pagespeedjedoweb from '../assets/pagespeed.png';
import seojedoweb from '../assets/SEO.png';
import Image from 'astro/components/Image.astro';
import Dibuat from '../components/dibuat';
---

<section class="py-16 bg-gradient-to-b from-purple-50 to-purple-100">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center text-purple-800 mb-8">
      Masih gak percaya beneran cepat?
    </h2>
    <p class="text-xl text-center text-gray-700 mb-8">
      Coba cek aja website ini berapa performanya di pagespeed
    </p>
    
    <div class="flex justify-center mb-12">
        <a href="https://pagespeed.web.dev/analysis/https-www-kacamatacuan-web-id/xu569ngdo0?form_factor=desktop">
            <Image
            src={pagespeedjedoweb}
            alt="PageSpeed Insights Score"
            width="800"
            height="320"
            loading="lazy"
          />
        </a>
     
    </div>
    
    <div class="bg-white rounded-lg shadow-xl p-8 max-w-3xl mx-auto">
     <Dibuat client:load/>
      <p class="text-center text-xl text-gray-700 mb-8">
        dan sudah di halaman pertama Google dengan keyword "kacamatacuan" hehe
      </p>
      
      <div class="flex justify-center">
        <Image
          src={seojedoweb}
          alt="Google Search Results"
          width="800"
          height="320"
          loading="lazy"
          
        />
      </div>
    </div>
  </div>
</section>
