---
import { SEO } from "astro-seo";
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import { Schema } from "astro-seo-schema";
import Wangambang from "../components/wangambang.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Metapiksel from "../components/metapiksel.astro";

// Mengambil props titlemeta dan descriptionmeta dari halaman
const {
  titlemeta = "JedoWEB - Jasa Pembuatan Website Cepat & Profesional",
  descriptionmeta = "Jasa pembuatan website cepat, responsif, dan modern. Gratis domain & hosting 1 tahun. Tingkatkan kecepatan dan performa website Anda bersama JedoWEB!",
  imagecover = "/favicon.png", // Set default image jika tidak ada gambar
} = Astro.props;

const siteURL = new URL("https://kacamatacuan.web.id/"); // Ganti dengan URL situs Anda
const imageURL = new URL(imagecover, siteURL); // Properti gambar OpenGraph menggunakan URL yang valid
const twitterHandle = "@Jedoweb"; // Ganti dengan username Twitter Anda
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  

    <!-- SEO optimization menggunakan astro-seo -->
    <SEO
      title={titlemeta}
      description={descriptionmeta}
      canonical={siteURL.href}
      openGraph={{
        basic: {
          title: titlemeta,
          type: "website",
          image: imageURL.href, // Gunakan URL gambar yang telah diproses
          url: siteURL.href,
        },
        image: {
          url: imageURL.href, // URL gambar default atau custom
          alt: "Jedoweb OpenGraph Image", // Alt text gambar
          width: 1200, // Lebar gambar OG
          height: 630, // Tinggi gambar OG
        },
      }}
      twitter={{
        card: "summary_large_image", // Menggunakan gambar besar untuk Twitter Card
        creator: twitterHandle,
        image: imageURL.href, // URL gambar default atau custom
      }}
      extend={{
        // Menambahkan favicon
        link: [{ rel: "icon", href: "/favicon.png", type: "image/png" }],
        // Menambahkan meta tambahan
        meta: [
          { name: "author", content: "Jedoweb" },
          {
            name: "keywords",
            content:
              "Jedoweb, website, jasawebsite cepat, jasa website murah, jasa website travel, jasa website rental, jasa website property",
          },
          { name: "robots", content: "index, follow" }, // Memberikan izin mesin pencari untuk mengindeks halaman
          { name: "twitter:site", content: twitterHandle },
          { name: "twitter:image", content: new URL(imageURL, siteURL).href }, // Menggunakan URL objek yang valid untuk Twitter
        ],
      }}
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!--Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Metapiksel />

    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        name: "Jedoweb",
        description:
          "Jasa pembuatan website cepat, responsif, dan modern. Gratis domain & hosting 1 tahun. Tingkatkan kecepatan dan performa website Anda bersama JedoWEB!",
        url: "https://kacamatacuan.web.id",
        telephone: "+6282128582738",
        image: "https://kacamatacuan.web.id/favicon.png",
        priceRange: "IDR",
        address: {
          "@type": "PostalAddress",
          streetAddress: "Cileungsi Bogor",
          addressLocality: "Jawabarat",
          addressRegion: "Indonesia",
          addressCountry: "ID",
        },
        sameAs: [
          "https://www.facebook.com/profile.php?id=61568600169195",
          "https://www.instagram.com/jedo.digital/",
        ],
      }}
    />
  </head>

  <body>
    <!-- Slot konten utama -->
    <main class="mx-auto scroll-smooth">
      <slot />
    </main>
    <Footer />
    <SpeedInsights />
  </body>
</html>
